<div class="page-header">
  <h1>el-more <small>Emacs Lisp Packages, more!</small></h1>
  <p class="lead">Find Emacs Lisp Packages you'll love.</p>
</div>
<%= render 'packages/search' %>
<h3>Popular packages</h3>
<div class="list-group">
  <%= render @packages %>
</div>
<%= link_to 'More', packages_path, class: 'btn btn-primary' %>
